.container {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo{
    max-width: 250px;
}

.links {
    display: flex;
    gap: 20px;
    margin-left: auto;
}

.link {
    color: #FDFEFE;
    text-decoration: none;
    transition: 0.3s ease;
    font-size: large;
    font-weight:600;
    padding: 0 7px;
}

.link:visited {
    color: #FDFEFE;
}

.link:hover {
    text-decoration: underline;  
    text-decoration-color: #3d5dac;
    text-decoration-thickness: 3px;
}

.other_link:hover{
    text-decoration-color: #cc2873;
}