.container {
  min-height: 100vh;
}

.header {
  background: url("../../assets/img/empresas_banner.webp") no-repeat;
  min-height: 20rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.textos {
  border: 1px solid #fff;
  backdrop-filter: blur(10px);
  max-width: 500px;
  padding: 2rem;
  border-radius: 13px 0 0 13px;
}

.textos h3,
.textos p {
  color: #fff;
}

@media (max-width: 650px) {
  .header {
    justify-content: center;
  }

  .textos {
    max-width: 350px;
    border-radius: 13px;
    padding: 1rem;
    text-align: center;
  }

  .textos h3 {
    font-size: large;
  }

  .textos p {
    font-size: small;
  }
}
