.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-left: 1px solid #000;
}

.form input,
.form textarea {
  width: 80%;
  height: 40px;
  line-height: 40px;
  margin: 10px 0;
}

.form button {
  width: 50%;
  background-color: #3d5dac;
  color: #fff;
}

.form button:hover {
  background-color: #fff;
  color: #3d5dac;
}

.error {
  color: #ec5353;
}

@media (max-width: 650px) {
  .form {
    border-left: none;
    margin: 2rem 0;
  }
}
